
body{
	height: 100%;
	background-color:#F5DEB3;
	width: 87%;
}


#mainWrapper {
	height: 100%;
	background-image: -webkit-gradient(
	linear,
	right bottom,
	right top,
	color-stop(0, #EDEDED),
	color-stop(0.08, #EAEAEA),
	color-stop(1, #2F2F2F),
	color-stop(1, #AAAAAA)
);
background-image: -o-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
background-image: -moz-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
background-image: -webkit-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
background-image: -ms-linear-gradient(top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
background-image: linear-gradient(to top, #EDEDED 0%, #EAEAEA 8%, #2F2F2F 100%, #AAAAAA 100%);
}

.floatRight{
	float:right;
	margin-right:  240px;
}

.has-error{
	color:red;
}
.generic-container-2{
	width: 82%;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 292px;
    padding: 20px;
    background-color: #A2D9CE;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 30px black;
}

.generic-container-1 {
    width: 37%;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 562px;
    padding: 20px;
    background-color:#A2D9CE;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 30px black;
    text-align: center;
}

.generic-container {
    width: 89%;
  margin-top: 80px;
  margin-bottom: 20px;
  margin-left:  256px;
  padding: 20px;
  background-color: #A2D9CE;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 30px black;
}


.custom-width {
    width: 71px !important;
}

body, #mainWrapper, .form-control{
	/*font-size:12px!important;*/
}

#mainWrapper {
	/*height: 720px; Without explicit px values, % in children's does not work*/
	height: 100vh; /*with Viewport-Percentage, we can handle all devices screens  */
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
}

.login-container {
    margin-top: 100px;
    background-color: #F5DEB3;
    width: 40%;
    left: 30%;
    position: absolute;
}

.login-card {
    width: 80%;
    margin: auto;
}

.login-form {
    padding: 10%;
}

.authbar{
	margin-bottom:15px;
	float: right;
	margin-right: -14%;
    margin-top: 0%;
    color: red;
}

.top-name{
	font-size:42px;
	margin-top: 0px;
	padding-top: 23px;
	font-family: cursive;
	color:#991f00;
    margin-left: auto;	
}

.application-name {
	margin-left: 30%;
	word-wrap: break-word;
	margin-top: 0%;
	height: 10px;
	text-align: -webkit-center;
    padding-left: 0px;
    margin-left: 0px;
}

body {
	/* padding-top:70px; */
}

/* responsive text queries */
@media screen and (max-width: 992px) {
  p,.btn,input,div,span,h4 {
    font-size: 110%;
  }
  h1 {
    font-size: 32px;  
  }
  h2 {
    font-size: 28px;  
  }
  h3 {
    font-size: 24px;  
  }
}

@media screen and (max-width: 768px) {
  p,.btn,input,div,span,h4 {
    font-size: 100%;
  }
  h1 {
    font-size: 28px;  
  }
  h2 {
    font-size: 24px;  
  }
  h3 {
    font-size: 20px;  
  }
}

@media only screen and (max-width: 800px) {
    
   /*  Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}
/* FE changes 
----------------------------------- */
#thcolor{
	 color: #991f00;
}
#log{
	font-size: 24px;
}

#txtSearch {
 background-image: url(../Images/save.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 20%;
    height: 51px;
    margin-left: 8px;
    font-size: 16px;
    padding: 7px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 14px;
    margin-top: 10px;
}
#tblSearch{
	  cursor: pointer;
  background: #A2D9CE;

}
#tblSearch thead tr th.headerSortUp, #keywords thead tr th.headerSortDown {
  background: #F5DEB3;
}

#tblSearch thead tr th.headerSortUp span {
  background-image: url(../Images/up-arrow.png);
}
#tblSearch thead tr th.headerSortDown span {
  background-image: url(../Images/down-arrow.png);
}
#tblSearch thead tr th span { 
/*  padding-right: 75px; */
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
#tblSearch table {
    overflow-x: scroll;
}
#tblSearch thead tr {
    display: block;
    width: 40%;
}
#tblSearch tbody {
    overflow-y: auto;
    display: block;
}

.wrapper {
    overflow-x: auto;
    width: auto;
}
/*#tblSearch td,th {
	width:100px;
}*/
#ss1{
	width:100px;
}
/*#tblSearch td{
padding-right: 65px; 	
}*/
#ss1{
padding-right: 119px; 	
}
#ss2{
padding-right: 127px; 	
}
#ss3{
padding-right: 139px; 	
}
#ss4{
padding-right: 53px; 	
}
#ss5{
padding-right: 62px; 	
}
#ss6{
padding-right: 100px; 	
}
#ss7{
padding-right: 80px; 	
}
#ss8{
padding-right: 100px; 	
}
#ss9{
padding-right: 131px; 	
}
#ss10{
padding-right: 100px; 	
}
#ss11{
padding-right: 49px; 	
}
#ss12{
padding-right: 97px; 	
}#ss13{
padding-right: 139px; 	
}
#ss14{
padding-right: 139px; 	
}
#tdd1{
padding-right: 20px;
}
#tdd2{
padding-right: 65px;	
}
#tdd3{
padding-right: 65px;	
}
#tdd4{
padding-right: 65px;	
}
#tdd5{
padding-right: 72px;	
}
#tdd6{
padding-right: 65px;	
}
#tdd7{
padding-right: 65px;	
}
#tdd8{
padding-right: 65px;	
}
#tdd9{
padding-right: 65px;	
}
#tdd10{
padding-right: 65px;	
}
#tdd11{
padding-right: 65px;	
}
#tdd12{
padding-right: 112px;	
}
#tdd13{
padding-right: 65px;	
}
#tdd14{
padding-right: 65px;	
}
#tdd15{
padding-right: 65px;	
}
